html, body{ height:100%; margin:0; }
body {
    margin: auto;
    width:1500px;
    height:0 auto;
    min-height: 1500px;
    position: relative;
    margin-bottom: 90px;
    background-color: #afa597;}
main{
    margin-left: 25px;
}
h1 {
    padding: 10px;
    padding-top: 30px;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 100px;
    color: antiquewhite;
    font-family: cursive;
}
h2 {
    color: blanchedalmond;
}
pre{
    color: sienna;
    font-family: cursive;
}
.sectionUl{
    background-color: #afa597;
}
.List {
    background-color: rgba(250, 235, 215, 0.2);
    margin: 0 auto;
    margin-top: 100px;
    width: -webkit-fill-available;
    
}
h2.sectionHeading {
    text-align: left;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    color: blanchedalmond;
}
.sectionImages {
    height: 282px;
    width: 250px;
    margin: 50px;
    border-radius: 15px;
}
iframe {
    margin: 50px;
}
#mainh2{
    margin-bottom: 100px;
    margin-top: 200px;
}
header {
    background-color: #685744;
    margin-top: 2%;
    width: 100% 100%;
    height: 200px;
    margin-bottom: 30px;
}
header img {
    margin-top: 30px;
    float: left;
    margin-top: 15px;
    margin-left: 100px;
    border-radius: 5%;
    
}
nav {
    margin-bottom: 50px;
    display: block;
    line-height: 50px;
}
ul {
text-align: center;
background-color: rgba(250, 235, 215, 0.2);
}
li {
    display: inline-block;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: whitesmoke;
    font-size: 25px;
    
}
li a {
    text-decoration: none;
    color: cornsilk;
}
li a:hover{
    color: burlywood;
}
#table{
    margin-bottom: 50px;
    font-size: x-large;
}
#table th{
    padding: 10px;
    text-align: center;
}
footer {
    color: antiquewhite;
    height: 50px;
    margin-top: 6000px;
    text-align: center;
    background-color: #685744;
}
#table td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}
body p {
    margin: 30px;
    font-family: serif;
    padding: 15px;
}

form {
    margin: 0 auto;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
legend{
    font-family: fantasy;
    font-size: 30px;
}
#addStandForm li{
    padding: 15px;
}
label {
    padding: 5px 10px;
}
input {
    margin: 15px 0px;
    padding: 15px;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    background-color: beige;
}
#submitButton{
    padding: 30px;
    font-size: xx-large;
    padding-bottom: 69px;
    font-family: fantasy;
}
#submitButton:hover{
    cursor: pointer;
}
input:focus, 
textarea:focus {
  border-color: rgb(180, 31, 31);
}